<div class="footer-wrapper justify-content-center text-center">
    <div class="footer-section f-section-1">
        <p class="" style="color:black !important;">2024 ©  Created by Amelina binti Ab Nasir  <br />Hak Cipta Terpelihara.</p>
    </div>

</div>