@model List<ProjectAPI.Models.PokemonViewModel>
@{
    ViewBag.Title = "Dashboard";

}

<br />
<h1 class="text-2xl text-orange-600 font-bold px-4 text-center">Dashboard</h1>
<br />
<div class="row mt-4 justify-center">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Fetch Pokemon
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.CurrentPokemonCount/@ViewBag.TotalPokemon</div>
                    </div>
                    @* <div class="col-auto">
                    <i class="fas fa-layers-counter fa-2x text-gray-300"></i>
                    </div> *@
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Total Pokemon Type
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.TotalTypePokemon</div>
                    </div>
                    @*  <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div> *@
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Total Pokemon Ability
                        </div>
                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@ViewBag.TotalAbilityPokemon</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    @* <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
    <div class="card-body">
    <div class="row no-gutters align-items-center">
    <div class="col mr-2">
    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
    Pending Requests
    </div>
    <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
    </div>
    <div class="col-auto">
    <i class="fas fa-comments fa-2x text-gray-300"></i>
    </div>
    </div>
    </div>
    </div>
    </div> *@

    @* Test chart.js here *@

</div>
<canvas id="myChart"></canvas>

@section scripts{
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [@foreach (var label in ViewBag.ListName)
        {
            <text>"@label.Name", </text>
        }],
                datasets: [{
                    label: 'Total Abilty of Pokemon',
                    data: [86, 83, 96, 105, 103, 131, 106, 101, 120, 5, 5, 86, 4, 5, 82, 64, 60, 63, 82, 84],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 0, 0, 0.2)', //(Red)
                        'rgba(0, 255, 0, 0.2)', //(Green)
                        'rgba(0, 0, 255, 0.2)', //(Blue)
                        'rgba(255, 255, 0, 0.2)', //(Yellow)
                        'rgba(255, 0, 255, 0.2)', //(Magenta)
                        'rgba(0, 255, 255, 0.2)', //(Cyan)
                        'rgba(128, 0, 0, 0.2)', //aroon)
                        'rgba(0, 128, 0, 0.2)', //ark Green)
                        'rgba(0, 0, 128, 0.2)', //avy)
                        'rgba(128, 128, 0, 0.2)',//(Olive)
                        'rgba(128, 0, 128, 0.2)',//(Purple)
                        'rgba(0, 128, 128, 0.2)',//(Teal)
                        'rgba(128, 128, 128, 0.2)', //(Gray)
                        'rgba(192, 192, 192, 0.2)'//(Silver)
                                    ],
        borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 0, 0, 1)', //(Red)
                        'rgba(0, 255, 0, 1)', //(Green)
                        'rgba(0, 0, 255, 1)', //(Blue)
                        'rgba(255, 255, 0, 1)', //(Yellow)
                        'rgba(255, 0, 255, 1)', //(Magenta)
                        'rgba(0, 255, 255, 1)', //(Cyan)
                        'rgba(128, 0, 0, 1)', //aroon)
                        'rgba(0, 128, 0, 1)', //ark Green)
                        'rgba(0, 0, 128, 1)', //avy)
                        'rgba(128, 128, 0, 1)',//(Olive)
                        'rgba(128, 0, 128, 1)',//(Purple)
                        'rgba(0, 128, 128, 1)',//(Teal)
                        'rgba(128, 128, 128, 1)', //(Gray)
                        'rgba(192, 192, 192, 1)'//(Silver)
        ],
            borderWidth: 1
                                }]
                            },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        },
        height: 50
                        })


    </script>
}