@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Simple Web API - Pokemon</h1><br />
    <p>Hi, my name is Amelina Binti Ab Nasir.</p>
    <p>This is my simple web API project built on ASP.NET Core.</p>
    <p>It provides basic functionality like Pokemon Listing, Detailed Pokemon information retrieval and Dashboard</p>
    <p>I've sourced this rich dataset from the free and reliable resource available at :  <a href="https://pokeapi.co/" target="_blank" class="text-blue-600">pokeapi.co</a></p>
    <br />
    <p> <strong class="px-4"><a href="@Url.Action("PokemonTwo","Home")" class="bg-bermuda hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Start Here</a> </strong></p>
</div>
